/* * {
  overflow: hidden;
} */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.page-footer {
  color: white;
}

#flashMessage {
  font-size: 1.5rem;
  text-align: center;
}

.error {
  color: red;
}

.col {
  display: flex;
  justify-content: space-evenly;
}

.card {
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-btns {
  display: inline-block;
  margin: auto;
  bottom: 10px;
}

.card-link {
  margin: auto;
}

.card-img-top {
  object-fit: contain;
}

/* Remove blue default backgrond colour to collapse button */
.accordion-button:not(.collapsed) {
  background-color: white;
}

.custom-select {
  width: 90%;
  margin: auto;
}

.watchlist-card-title {
  padding: 20px;
}

body .watchlist-card {
  margin-top: 40px;
}