/* need to media quert index page !*/
/* box shadow for index image*/

/* * {
  overflow: hidden;
} */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: white
}

main {
  flex: 1 0 auto;
}

.page-footer {
  color: white;
  margin-top: 20px;
  background-color:#14181c;
}

#flashMessage {
  font-size: 1rem;
  text-align: center;
}

.error {
  color: red;
}

.col {
  display: flex;
  justify-content: space-evenly;
}

.card {
  margin-bottom: 20px;
  width: 90%;
}

.card-btns {
  display: inline-block;
  margin: auto;
  bottom: 10px;
}

.card-link {
  margin: auto;
}

.card-img-top {
  object-fit: contain;
  width: 100%;
}

/* Remove blue default background colour to collapse button */
.accordion-button:not(.collapsed) {
  background-color: white;
}

.watchlist-card-title {
  padding: 20px;
}

body .watchlist-card {
  margin-top: 40px;
}

.requiredField {
  color: red;
}

/* https://bbbootstrap.com/snippets/bootstrap-rate-your-experience-template-star-ratings-30972576 */
.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.rating>input {
  display: none;
}

.rating>label {
  position: relative;
  width: 1em;
  font-size: 30px;
  font-weight: 300;
  color: var(--bronze);
  cursor: pointer;
}

.rating>label::before {
  content: "\2605";
  position: absolute;
  opacity: 0;
}

.rating>label:hover:before,
.rating>label:hover~label:before {
  opacity: 1 !important;
}

.rating>input:checked~label:before {
  width: 100%;
  opacity: 1;
}

.rating:hover>input:checked~label:before {
  width: 100%;
  opacity: 0.4;
}

body {
  /* background-color:#71797E; */
  background-color: #2c3440;
}

.card h3 {
  font-size: 2rem;
  margin-top: 10px;
  margin-bottom: 10px;
}


/* Add margin to Bootstrap columns - Seb33300 */
[class*="row-cols-"] {
  background-clip: padding-box;
  border: 10px solid transparent;
}

.flashes {
  margin-top: 20px;
  margin-bottom: 20px;
  /* background: rgb(166, 124, 225); */
  background: rgb(133 139 180);
  border-style: solid;
}

#createFirstList {
  margin: auto;
  display: block;
  background-color: white;
  width: 60%;
}

.film-form-card {
  margin: auto;
  margin-top: 20px;
}

.add-watchlist-card {
  margin: auto;
  margin-top: 20px;
}

.welcome-message {
  font-size: 1.6rem;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
}

#indexPosterImg img {
  margin-bottom: 30px;
}

#indexIntro {
  margin: auto;
}

.create {
  background-color: #4b5564;
  min-height: 50px;
  border-radius: 10px;
}

.organise {
  background-color: #4b5564;
  min-height: 50px;
  border-radius: 10px;
}

.share {
  background-color: #4b5564;
  min-height: 50px;
  border-radius: 10px;
}

#indexIntro h2 {
  font-size: 1rem;
  color: white;
}

#indexIntro h3 {
  font-size: 1rem;
}

#indexIntro .createMessage {
  margin-bottom: 15px;
  padding: 5px;
}

#indexIntro .organiseMessage {
  margin-bottom: 15px;
  padding: 5px;
}

#indexIntro .shareMessage {
  margin-bottom: 15px;
  padding: 5px;
}

.fa-solid, .fas i {
  font-size: 2rem;
  float: left;
  padding: 5px;
}

.fa-right-to-bracket {
  padding: 0;
  font-size: 1.7rem;
  float: none;
}

.fa-user-plus {
  padding: 0;
  font-size: 1.7rem;
  float: none;
}

.navbar {
  background-color: #14181c;
}

.navbar-brand {
  color: white;
}

.nav-link {
  color: white;
}

.nav-link:focus, .nav-link:hover {
  color: rgb(146, 146, 185);
}

.navbar-brand:focus, .navbar-brand:hover {
  color: rgb(146, 146, 185);
}

.navbar-toggler span {
  color: white !important;
}

.navbar-nav .nav-link.active {
  color: white;
}

.form-signin {
  margin-top: 30px;
}

.form-signin h4 {
  font-size: 1.3rem;
  margin-bottom: 20px;
}

#loginBtn {
  margin: auto;
  margin-top: 20px;
  background-color: white;
  color: black;
}

#loginBtn:hover {
  background-color: rgb(135, 176, 135);
}

.sign-up {
  margin-top: 20px;
  margin-bottom: 20px;
}

.sign-up-form h4 {
  font-size: 1.3rem;
  text-align: center;
}

#sign-up-btn {
  margin: auto;
  background-color: white;
  color: black;
}

#sign-up-btn:hover {
  background-color: rgb(135, 176, 135);
}

#film-review-form-title {
  font-size: 1.5rem;
}

.rating {
  color: black;
}

#reviewSubmit {
  background-color:rgb(88, 135, 88);
  color: white;
}

/* Make button enlarge on hover */
.btn {
  cursor: pointer;
  transition: .2s ease-in-out 0s;
}

.btn:hover {
  transform: scale(1.1);
}

#add-list-btn {
  background-color:rgb(88, 135, 88);
  color: white;
}

.add-watchlist-container h3 {
  margin-top: 20px;
}

.form-group {
  padding: 10px;
  margin-bottom: 0;
}

.watchlist-card {
  margin: auto;
}

#edit-list-title {
  font-size: 1.7rem;
  text-align: center;
  margin-top: 20px;
}

.addFilmBtn {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  color: black;
}

.addFilmBtn:hover {
  background-color: rgb(135, 176, 135);
}

.reviewWelcome h3 {
  margin-top: 20px;
}

.btnSearch {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  color: black;
}

.btnSearch:hover {
  background-color: rgb(135, 176, 135);
}

.welcomeUser {
  font-size: 1.6rem;
  margin: 20px auto;
}

.search-description {
  text-align: center;
}

.search-wrapper {
  text-align: center;
}

.fa-magnifying-glass {
  float: none;
}

.addWatchListBtn {
  margin: auto;
  background-color: white;
  color: black;
}

.addWatchListBtn:hover {
  background-color: rgb(135, 176, 135);
}

.editFilmListBtn:hover {
  background-color: rgb(135, 176, 135);
}

.fa-pen {
  float: none;
}

/* Media Queries */