/* need to media quert index page !*/
/* box shadow for index image*/

/* * {
  overflow: hidden;
} */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: white;
  font-family: 'Noto Sans JP', sans-serif;
}

main {
  flex: 1 0 auto;
}

.page-footer {
  color: white;
  margin-top: 20px;
  background-color:#14181c;
}

.footer-copyright p {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 0.8rem;
}

#flashMessage {
  font-size: 1rem;
  text-align: center;
}

.error {
  color: red;
}

.col {
  display: flex;
  justify-content: space-evenly;
}

.card {
  margin-bottom: 20px;
  width: 90%;
}

.card-btns {
  display: inline-block;
  margin: auto;
  bottom: 10px;
}

.card-link {
  margin: auto;
}

.card-img-top {
  object-fit: contain;
  width: 100%;
}

/* Remove blue default background colour to collapse button */
.accordion-button:not(.collapsed) {
  background-color: white;
}

.watchlist-card-title {
  padding: 20px;
}

body .watchlist-card {
  margin-top: 40px;
}

.requiredField {
  color: red;
}

/* https://bbbootstrap.com/snippets/bootstrap-rate-your-experience-template-star-ratings-30972576 */
.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.rating>input {
  display: none;
}

.rating>label {
  position: relative;
  width: 1em;
  font-size: 30px;
  font-weight: 300;
  color: var(--bronze);
  cursor: pointer;
}

.rating>label::before {
  content: "\2605";
  position: absolute;
  opacity: 0;
}

.rating>label:hover:before,
.rating>label:hover~label:before {
  opacity: 1 !important;
}

.rating>input:checked~label:before {
  width: 100%;
  opacity: 1;
}

.rating:hover>input:checked~label:before {
  width: 100%;
  opacity: 0.4;
}

body {
  background-color: #2c3440;
}

.card h3 {
  font-size: 2rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Add margin to Bootstrap columns - Seb33300 */
[class*="row-cols-"] {
  background-clip: padding-box;
  border: 10px solid transparent;
}

.flashes {
  margin-top: 10px;
  margin-bottom: 10px;
  background: rgb(133 139 180);
  border-style: solid;
}

#createFirstList {
  margin: auto;
  display: block;
  background-color: white;
  width: 60%;
}

.film-form-card {
  margin: auto;
  margin-top: 20px;
}

.add-watchlist-card {
  margin: auto;
  margin-top: 20px;
}

.welcome-message {
  font-size: 1.6rem;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
}

#indexPosterImg img {
  margin-bottom: 30px;
}

#indexIntro {
  margin: auto;
}

.create {
  background-color: #4b5564;
  min-height: 50px;
  border-radius: 10px;
}

.create i {
  float: left;
}

.organise i {
  float: left;
}

.share i {
  float: left;
}

.organise {
  background-color: #4b5564;
  min-height: 50px;
  border-radius: 10px;
}

.share {
  background-color: #4b5564;
  min-height: 50px;
  border-radius: 10px;
}

#indexIntro h2 {
  font-size: 1rem;
  color: white;
}

#indexIntro h3 {
  font-size: 1rem;
}

#indexIntro .createMessage {
  margin-bottom: 15px;
  padding: 5px;
}

#indexIntro .organiseMessage {
  margin-bottom: 15px;
  padding: 5px;
}

#indexIntro .shareMessage {
  margin-bottom: 15px;
  padding: 5px;
}

.fa-solid, .fas i {
  font-size: 2rem;
  float: none;
  padding: 5px;
}

.fa-right-to-bracket {
  padding: 0;
  font-size: 1.7rem;
}

.fa-user-plus {
  padding: 0;
  font-size: 1.7rem;
}

.navbar {
  background-color: #14181c;
}

.navbar-brand {
  color: white;
  font-family: 'Limelight', cursive;
}

#film-reel-img {
  width: 25px;
}

.nav-link {
  color: white;
}

.nav-link:focus, .nav-link:hover {
  color: rgb(146, 146, 185);
}

.navbar-brand:focus, .navbar-brand:hover {
  color: rgb(146, 146, 185);
}

.navbar-toggler span {
  color: white !important;
}

.navbar-nav .nav-link.active {
  color: white;
}

.form-signin {
  margin-top: 30px;
}

.form-signin h4 {
  font-size: 1.2rem;
  margin-bottom: 20px;
  text-align: center;
}

#loginBtn {
  margin: auto;
  margin-top: 20px;
  background-color: white;
  color: black;
}

#loginBtn:hover {
  background-color: rgb(135, 176, 135);
}

.sign-up {
  margin-top: 20px;
  margin-bottom: 20px;
}

.sign-up-form h4 {
  font-size: 1.3rem;
  text-align: center;
}

#sign-up-btn {
  margin: auto;
  background-color: white;
  color: black;
}

#sign-up-btn:hover {
  background-color: rgb(135, 176, 135);
}

#film-review-form-title {
  font-size: 1.5rem;
}

.rating {
  color: black;
}

#reviewSubmit {
  background-color:rgb(88, 135, 88);
  color: white;
}

/* Make button enlarge on hover */
.btn {
  cursor: pointer;
  transition: .2s ease-in-out 0s;
}

.btn:hover {
  transform: scale(1.1);
}

#add-list-btn {
  background-color:rgb(88, 135, 88);
  color: white;
}

.add-watchlist-container h3 {
  margin-top: 20px;
}

.form-group {
  padding: 10px;
  margin-bottom: 0;
}

.watchlist-card {
  margin: auto;
}

#edit-list-title {
  font-size: 1.7rem;
  text-align: center;
  margin-top: 20px;
}

.addFilmBtn {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  color: black;
}

.addFilmBtn:hover {
  background-color: rgb(135, 176, 135);
}

.reviewWelcome h3 {
  margin-top: 20px;
}

.btnSearch {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  color: black;
}

.btnSearch:hover {
  background-color: rgb(135, 176, 135);
}

.welcomeUser {
  font-size: 1.6rem;
  margin: 20px auto;
}

.search-description {
  text-align: center;
}

.search-wrapper {
  text-align: center;
}

.addWatchListBtn {
  margin: auto;
  background-color: white;
  color: black;
}

.addWatchListBtn:hover {
  background-color: rgb(135, 176, 135);
}

.editFilmListBtn:hover {
  background-color: rgb(135, 176, 135);
}

.filmListTitle {
  margin-top: 20px;
}

.social-media {
  margin-bottom: 0;
  text-align: center;
}

.social-media li {
  display: inline-block;
  text-align: center;
}

.social-media i {
  font-size: 1.6rem;
  color: white;
  padding: 10px;
}

.social-media i:hover {
  color: rgb(146, 146, 185);
}

.social-media a {
  text-decoration: none;
}

/* Media Queries */

/* Styling specific to small screen like Galaxy Fold */
@media (max-width: 280px) {
  /* Index */
  .welcome-message {
    font-size: 1.1rem;
  }
  .fa-film {
    font-size: 1.5rem;
    margin-top: -5px;
  }
  #indexIntro h2 {
    font-size: 0.9rem;
  }
  #indexIntro h3 {
    font-size: 0.9rem;
  }
  .flashes {
    font-size: 0.9rem;
  }
  /* Search */
  .welcomeUser {
    font-size: 1.2rem;
  }
  .fa-magnifying-glass {
    font-size: 1rem;
  }
  /* .filmDataContainer {
    width: 100%;
  } */
  /* .filmCard {
    width: 300px;
  } */
  /* Review Form */
  #film-review-form-title {
    font-size: 1.1rem;
  }
  .fa-file-circle-plus {
    font-size: 1.5rem;
    margin-top: -5px;
  }
  .form-group p {
    font-size: 0.8rem;
  }
  .form-select {
    font-size: 0.9rem;
  }
  /* Review Page */
  .reviewWelcome h3 {
    font-size: 1.3rem;
  }
  .fa-file-lines {
    font-size: 1.5rem;
  }
  .reviewWelcome p {
    font-size: 0.9rem;
  }
  /* Film List */
  .filmListTitle {
    font-size: 1.3rem;
  }
}

@media (max-width: 360px) {
  /* Index */
  .fa-film {
    font-size: 1.4rem;
  }
  .welcome-message {
    font-size: 1.3rem;
  }
  /* My reviews */
  .fa-right-to-bracket {
    font-size: 1.2rem;
  }
}

@media (min-width: 390px) {
  .btnSearch {
    font-size: 1rem;
    padding: 2px;
  }
  .film-form-card {
    margin-top: 50px;
  }
}

/* Ipad/tablet styling */
@media (min-width: 700px) {
  .navbar-brand {
    font-size: 2rem !important;
  }
  .navbar-toggler {
    font-size: 2rem;
  }
  .nav-item {
    font-size: 1.5rem;
  }
  /* Index */
  .welcome-message {
    font-size: 2rem;
  }
  .create {
    margin: 20px;
  }

  .organise {
    margin: 20px;
  }

  .share {
    margin: 20px;
  }

  #indexIntro h2 {
    font-size: 1.5rem;
  }
  #indexIntro h3 {
    font-size: 1.5rem;
  }
  
  #indexPosterImg img{
    margin-top: 30px;
    margin-bottom: 60px;
  }

  .page-footer p {
    font-size: 1.3rem;
  }
  /* Search */
  .welcomeUser {
    font-size: 2rem;
  }

  .search-description {
    font-size: 1.5rem;
  }

  .search-wrapper label {
    font-size: 1.5rem;
    margin-right: 15px;
  }

  #search {
    font-size: 1.5rem;
  }

  .btnSearch {
    font-size: 1.5rem;
    margin-left: 20px;
    margin-top: 0px;
  }
  /* Review Form */
  #film-review-form-title {
    font-size: 2rem;
  }

  .form-group p {
    font-size: 1.3rem;
  }

  .form-group label {
    font-size: 1.3rem;
  }
  
  .rating label {
    font-size: 2rem;
  }

  .form-select {
    font-size: 1.3rem;
  }

  #writtenReview {
    font-size: 1.3rem;
  }

  #reviewSubmit {
    font-size: 1.5rem;
  }

  /* my reviews */
  .reviewWelcome h3 {
    font-size: 2rem;
  }

  .reviewWelcome p {
    font-size: 1.3rem;
  }

  .addFilmBtn {
    font-size: 1.4rem;
  }

  .accordion-button {
    font-size: 1.5rem !important;
  }

  .accordion-body {
    font-size: 1.3rem;
  }

  .accordion-footer a {
    font-size: 1.3rem;
  }
  /* Film Lists */

  .filmListTitle {
    font-size: 2rem;
  }

  .filmListDescription {
    font-size: 1.3rem;
  }

  .addWatchListBtn {
    font-size: 1.3rem;
  }

  .card-body h5{
    font-size: 1.5rem;
  }

  .card-body h6 {
    font-size: 1.3rem;
  }

  .card-buttons a {
    margin-top: 15px;
    font-size: 1.3rem;
  }

  #flashMessage {
    font-size: 1.5rem;
  }
  /* Login */

  .form-signin h4 {
    font-size: 2rem;
  }

  .fa-solid, .fa-right-to-bracket {
    font-size: 2.5rem;
  }

  .form-group label {
    font-size: 1.5rem;
  }

  #loginBtn {
    font-size: 1.5rem;
  }

  /* Sign Up */
  #sign-up-btn {
    font-size: 1.5rem;
  }
}

@media (min-width: 700px) and (min-height: 600px) {
  /* Index */
  #indexImg {
    height: 300px;
  }

  #indexPosterImg img {
    margin-bottom: 0;
  }

  .nav-link {
    font-size: 1rem;
  }

  .welcome-message {
    font-size: 1.6rem;
  }

  #indexIntro h2 {
    font-size: 1.2rem;
  }

  #indexIntro h3 {
    font-size: 1.2rem;
  }

  .footer-copyright p {
    font-size: 1rem;
  }

  /* Login */
  .form-signin h4 {
    font-size: 1.4rem;
  }

  .fa-right-to-bracket {
    font-size: 1.7rem;
  }

  .form-group label {
    font-size: 1.3rem;
  }

  #loginBtn {
    font-size: 1.3rem;
  }

  /* Register page */
  .sign-up {
    font-size: 1.5rem;
  }

  #sign-up-btn {
    font-size: 1.3rem;
  }

  #flashMessage {
    font-size: 1.2rem;
  }

  /* search */
  .welcomeUser {
    font-size: 1.5rem;
  }

  .search-description {
    font-size: 1.3rem;
  }

  .search-wrapper label {
    font-size: 1.3rem;
  }

  .btnSearch {
    font-size: 1.4rem;
  }

  #search {
    font-size: 1.3rem;
  }

  .fa-magnifying-glass {
    font-size: 1.5rem;
  }

  /* Review Form */
  #film-review-form-title {
    font-size: 1.4rem;
  }

  .fa-file-circle-plus {
    font-size: 1.5rem;
  }

  .form-group p {
    font-size: 1.2rem;
    margin-top: -10px;
  }

  .form-group label {
    font-size: 1.2rem;
  }

  #writtenReview {
    font-size: 1.2rem;
  }

  #watchlist_id {
    font-size: 1.2rem;
  }
  
  #reviewSubmit {
    font-size: 1.3rem;
  }

  /* My reviews */
  .reviewWelcome h3 {
    font-size: 1.5rem;
  }

  .reviewWelcome p {
    font-size: 1.3rem;
  }

  .fa-file-lines {
    font-size: 1.7rem;
  }

  .addFilmBtn {
    font-size: 1.2rem;
  }

  .accordion-button {
    font-size: 1.2rem !important;
  }

  .accordion-body {
    font-size: 1.1rem;
  }

  /* My Lists */
  .filmListTitle {
    font-size: 1.5rem;
  }

  .filmListDescription {
    font-size: 1.2rem;
  }

  .addWatchListBtn {
    font-size: 1.2rem;
  }

  .card-body h5 {
    font-size: 1.3rem;
  }

  .card-body h6 {
    font-size: 1.2rem;
  }

  .card-buttons a {
    font-size: 1.2rem;
  }

  .social-media i {
    font-size: 2.2rem;
  }
}

@media (min-width: 464px) {
  #indexIntro .create {
    margin-bottom: 15px;
    padding: 3px;
  }
  
  #indexIntro .organise {
    padding: 3px;
    margin-bottom: 15px;
  }
  
  #indexIntro .share {
    padding: 3px;
    margin-bottom: 15px;
  }
}

/* BUG: Each row on larger screens is opening to the same size when the accordion is clicked 
   Film rating display page doesn't have same issue as search results, find out why */