body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.page-footer {
  color: white;
}

#flashMessage {
  font-size: 1.5rem;
  text-align: center;
}

.error {
  color: red;
}

.card {
  width: 20rem;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-btns {
  display: inline-block;
  margin: auto;
}

.card-link {
  margin: auto;
}