/* * {
  overflow: hidden;
} */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.page-footer {
  color: white;
}

#flashMessage {
  font-size: 1.5rem;
  text-align: center;
}

.error {
  color: red;
}

.col {
  display: flex;
  justify-content: space-evenly;
}

.card {
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-btns {
  display: inline-block;
  margin: auto;
  bottom: 10px;
}

.card-link {
  margin: auto;
}

.card-img-top {
  object-fit: contain;
}

/* Remove blue default background colour to collapse button */
.accordion-button:not(.collapsed) {
  background-color: white;
}

.custom-select {
  width: 90%;
  margin: auto;
}

.watchlist-card-title {
  padding: 20px;
}

body .watchlist-card {
  margin-top: 40px;
}

.required {
  color: red;
}

/* https://bbbootstrap.com/snippets/bootstrap-rate-your-experience-template-star-ratings-30972576 */
.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.rating>input {
  display: none;
}

.rating>label {
  position: relative;
  width: 1em;
  font-size: 30px;
  font-weight: 300;
  color: var(--bronze);
  cursor: pointer;
}

.rating>label::before {
  content: "\2605";
  position: absolute;
  opacity: 0;
}

.rating>label:hover:before,
.rating>label:hover~label:before {
  opacity: 1 !important;
}

.rating>input:checked~label:before {
  width: 100%;
  opacity: 1;
}

.rating:hover>input:checked~label:before {
  width: 100%;
  opacity: 0.4;
}

body {
  background-color:#71797E;
}

.card h3 {
  font-size: 2rem;
  margin-top: 10px;
  margin-bottom: 10px;
}