{% extends "base.html" %}
{% block content %}
<div class="add-watchlist-container">
  <h3 class="text-center">Add Film List <i class="fa-solid fa-plus"></i></h3>
  <div class="row card add-watchlist-card">
    <form class="col-12" method="POST" action="{{ url_for('add_watchlist') }}">
      <div class="form-group col-12">
        <p class="text-center">Form fields marked with a <span class="requiredField">*</span> symbol are required, so
          please fill them in</p>
        <label for="list_name">Give your film list a name<span class="requiredField">*</span></label>
        <input type="text" class="form-control" id="list_name" name="list_name"
          placeholder="Horror, Comedy, Summer 2023, etc" required minlength="3" maxlength="25">
      </div>
      <div class="form-group col-12">
        <label for="genre">Which Genre is this film list?</label>
        <input type="text" class="form-control" id="genre" name="genre" minlength="3" maxlength="20">
      </div>
      <div class="form-group col-12 text-center">
        <button class="btn" id="add-list-btn" type="submit">
          Add film list
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}