{% extends "base.html" %}
{% block content %}

<h3>Add Watchlist</h3>
<p>This page is for adding a new watchlist</p>

<div class="row card">
    <form class="col-12" method="POST" action="{{ url_for('add_watchlist') }}">
      <div class="form-group col-12">
        <label for="list_name">Give your watchlist a name<span class="required">*</span></label>
        <input type="text" class="form-control" id="list_name" name="list_name" required minlength="3" maxlength="25">
      </div>
      <div class="form-group col-12">
        <label for="created_by">Enter your name<span class="required">*</span></label>
        <input type="text" class="form-control" id="created_by" name="created_by" required minlength="3" maxlength="25">
      </div>
   <select class="custom-select genre-selector">
    <option selected>Choose a genre</option>
    <option value="1">Horror</option>
    <option value="2">Comedy</option>
    <option value="3">Drama</option>
    <option value="4">Romantic</option>
    <option value="5">Sci-fi</option>
    <option value="6">International</option>
    <option value="7">Action</option>
    <option value="8">Thriller</option>
    <option value="9">Documentary</option>
    <option value="10">Animation</option>
    <option value="11">Musical</option>
    <option value="12">None of the above</option>
  </select>
      <div class="form-group col-12 text-center">
        <button class="btn btn-secondary" type="submit">
          Add Watchlist
        </button>
      </div>
     </form>
  </div>
{% endblock %}