{% extends "base.html" %}
{% block content %}

<h3>Add Watchlist</h3>
<div class="row card">
    <form class="col-12" method="POST" action="{{ url_for('add_watchlist') }}">
      <div class="form-group col-12">
        <p class="text-center">Form fields marked with a <span class="requiredField">*</span> symbol are required, so please fill them in</p>
        <label for="list_name">Give your watchlist a name<span class="requiredField">*</span></label>
        <input type="text" class="form-control" id="list_name" name="list_name" placeholder="Horror, Comedy, Summer 2023, etc"required minlength="3" maxlength="25">
      </div>
      <!-- <div class="form-group col-12">
        <label for="created_by">Enter your name</label>
        <input type="text" class="form-control" id="created_by" name="created_by" minlength="3" maxlength="25">
      </div> -->
      <div class="form-group col-12">
        <label for="genre">Which Genre is this watchlist?</label>
        <input type="text" class="form-control" id="genre" name="genre" minlength="3" maxlength="20">
   <!-- <select class="custom-select genre-selector mx-auto">
    <option selected>Choose a genre</option>
    <option value="1">Horror</option>
    <option value="2">Comedy</option>
    <option value="3">Drama</option>
    <option value="4">Romantic</option>
    <option value="5">Sci-fi</option>
    <option value="6">International</option>
    <option value="7">Action</option>
    <option value="8">Thriller</option>
    <option value="9">Documentary</option>
    <option value="10">Animation</option>
    <option value="11">Musical</option>
    <option value="12">None of the above</option>
  </select> -->
</div>
      <div class="form-group col-12 text-center">
        <button class="btn btn-secondary" type="submit">
          Add Watchlist
        </button>
      </div>
     </form>
  </div>
{% endblock %}