<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FontAwesome CDN link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <!-- Bootstrap CSS CDN link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <!-- Bootstrap helper function -->
    {{ bootstrap.load_css() }}
    <!-- Favicon files -->
    <!-- <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"> -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png')}}">
    <!-- <link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest')}}"> -->
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Limelight&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <!-- My style.css link -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <title>Reel Reviews</title>
</head>
<body>
    <header>
        <!-- Bootstrap Toggler Navbar -->
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
              <a class="navbar-brand" href="{{ url_for('home') }}">Reel Reviews <img src="{{ url_for('static', filename='images/filmreelYellow.png') }}" id="film-reel-img" alt="Reel Reviews logo"></a>
              <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  {%- if current_user.is_authenticated %}
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('search') }}">Search</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('add_film') }}">Add Film Review</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('films') }}">My Reviews</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('watchlists') }}">My Film Lists</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Log out</a>
                  </li>
                  </ul>
                </div>
              </div>
                  {% else %}
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}">Log In</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('signup') }}">Sign Up</a>
                  </li>
                </ul>
              </div>
            </div>
            {% endif %}
          </nav>
       

    </header>
    <!-- Flash message appears below navbar -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div class="flashes">{% for category, message in messages %}
                            <div class="{{ category }}" id="flashMessage">{{ message }}</div>
                          {% endfor %}
      </div>
      {% endif %}
      {% endwith %}

    <main class="container">
        {% block content %}

        {% endblock %}
    </main>

    <!-- Footer -->
    <footer class="page-footer">
        <ul class="social-media text-center">
          <li>
              <a href="https://facebook.com" target="_blank" aria-label="Facebook link">
                  <i class="fa-brands fa-square-facebook"></i>
              </a>
          </li>
          <li>
              <a href="https://twitter.com" target="_blank" aria-label="Twitter link">
                  <i class="fa-brands fa-square-twitter"></i>
              </a>
          </li>
          <li>
              <a href="https://instagram.com" target="_blank" aria-label="Instagram link">
                  <i class="fa-brands fa-square-instagram"></i>
              </a>
          </li>
      </ul>
        <div class="footer-copyright text-center">
          <div class="container">
            <!-- Kerstin Martin, automatically update copyright year -->
            <p>Copyright &copy; <script>document.write(new Date().getFullYear())</script> Skye Hillier-Milton</p>
          </div>
        </div>
        
    </footer>
    <!-- Bootstrap JS CDN link -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
    <!-- Bootstrap helper function -->
    {{ bootstrap.load_js() }}
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>