{% extends "base.html" %}
{% block content %}

<div class="row card film-form-card">
  <form class="col-12 film-form" method="POST" action="{{ url_for('edit_film', film_id=film.id) }}">
      <div class="form-group col-12">
          <h3 class="text-center">Review A Film</h3>
           <!-- <span id="filmPosterImg">
              <img src="{{ url_for('static', filename='images/review-img.jpg')}}" class="card-img-top col-7 mx-auto d-block" alt="film poster image">
          </span> -->
      </div>
      <div class="form-group col-12">
          <p>Form fields marked with a <span class="requiredField">*</span> symbol are required, so please fill them in</p>
          <!-- Film title -->
          <label for="film_title">Film Title<span class="requiredField">*</span></label>
          <input type="text" class="form-control" id="film_title" name="film_title" value="{{ film.film_title }}" required minlength="3"
              maxlength="25">
      </div>
      <div class="form-group col-12">
        <!-- Star Rating -->
          <label for="starRating">How do you rate this film?<span class="requiredField">*</span></label>
          <!-- https://bbbootstrap.com/snippets/bootstrap-rate-your-experience-template-star-ratings-30972576 -->
          <div class="col mb-3 rating" >
            <!-- cannot pre-populate star rating -->
              <input type="radio" name="rating" value="5" id="5" checked><label for="5">☆</label>
              <input type="radio" name="rating" value="4" id="4" checked><label for="4">☆</label>
              <input type="radio" name="rating" value="3" id="3" checked><label for="3">☆</label>
              <input type="radio" name="rating" value="2" id="2" checked><label for="2">☆</label>
              <input type="radio" name="rating" value="1" id="1" checked><label for="1">☆</label>
          </div>  
      </div> 
      <div class="form-group col-12">
        <!-- Written Review -->
          <label for="writtenReview">Add a written review?</label>
          <textarea type="text" class="form-control" id="writtenReview" name="writtenReview" minlength="3"
              maxlength="200">{{ film.written_review }}</textarea>
      </div>
      <!-- watchlist_id -->
      <div class="form-group col-12">
        <label for="watchlist_id">Which film list should this go into?<span class="requiredField">*</span></label>
        <select class="form-select" id="watchlist_id" name="watchlist_id" aria-label="Select which film list to append to" required>
          <option selected>Choose your Film List</option>
          {% for watchlist in watchlists %}
              <option value="{{ watchlist.id}}">{{ watchlist.list_name}}</option>
          {% endfor %}
        </select>
    </div>
      <div class="form-group col-12 text-center">
        <!-- Submit Button -->
          <button class="btn btn-secondary" id="reviewSubmit" type="submit">
              Submit Review
          </button>
      </div>
  </form>
</div>
</div>
{% endblock %}