{% extends "base.html" %}
{% block content %}

<h3 class="text-center">My Reviews</h3>
<p>This page is to keep track of films you've reviewed or rated</p>

<div class="row">
  <div class="col-12 text-center">
    <a href="{{ url_for('add_film') }}" type="button" class="btn btn-secondary addFilmBtn">
      Add Film Review
    </a>
  </div>
</div>
<!-- Display Film Reviews -->
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
  <!-- sort and reverse functionality from Jinja Docs -->
  {% for film in films|sort(attribute="star_rating", reverse=true) %}
  <!-- only display reviews from current user -->
  {% if film.reviewed_by == current_user.username %}
      <div class="accordion accordion-flush" id="accordion-{{ loop.index }}">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#review-{{ loop.index }}" aria-expanded="false" aria-controls="review-{{ loop.index }}">
              {{ film.film_title }}
            </button>
          </h2>
            <div id="review-{{ loop.index }}" class="accordion-collapse collapse" aria-labelledby="review-{{ loop.index }}"
              data-bs-parent="#accordion">
              <div class="accordion-body">
              <div class="starRating">
              {% if film.star_rating == 1 %}
              <div>Star Rating: ★☆☆☆☆</div>
              {% elif film.star_rating == 2 %}
              <div>Star Rating: ★★☆☆☆</div>
              {% elif film.star_rating == 3 %}
              <div>Star Rating: ★★★☆☆</div>
              {% elif film.star_rating == 4 %}
              <div>Star Rating: ★★★★☆</div>
              {% elif film.star_rating == 5 %}
              <div>Star Rating: ★★★★★</div>
              {% endif %}
            </div>
              <p class="written_review">{{ film.written_review }}</p>
            </div>
            <div class="accordion-footer text-center">
              <p>
                <a href="{{ url_for('edit_film', film_id=film.id) }}" class="btn btn-secondary mb-3">Edit</a>
                <a href="{{ url_for('delete_film', film_id=film.id) }}" class="btn btn-secondary mb-3">Delete</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
</div>
{% endblock %}