{% extends "base.html" %}
{% block content %}

<div class="reviewWelcome">
<h3 class="text-center">My Reviews <i class="fa-solid fa-file-lines"></i></h3>
<p class="text-center">Welcome to your film review hub! Create, edit and delete film your film reviews here </p>
</div>

<div class="row">
  <div class="col-12 text-center">
    <a href="{{ url_for('add_film') }}" type="button" class="btn addFilmBtn">
      Add Film Review
    </a>
  </div>
</div>
<!-- Display Film Reviews -->
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
  <!-- sort and reverse functionality from Jinja Docs -->
  {% for film in films|sort(attribute="star_rating", reverse=true) %}
  <!-- only display reviews from current user -->
  {% if film.reviewed_by == current_user.username %}
      <div class="accordion accordion-flush" id="accordion-{{ loop.index }}">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#review-{{ loop.index }}" aria-expanded="false" aria-controls="review-{{ loop.index }}">
              {{ film.film_title }}
            </button>
          </h2>
            <div id="review-{{ loop.index }}" class="accordion-collapse collapse" aria-labelledby="review-{{ loop.index }}"
              data-bs-parent="#accordion">
              <div class="accordion-body">
              <div class="starRating">
              {% if film.star_rating == 1 %}
              <div>Star Rating: ★☆☆☆☆</div>
              {% elif film.star_rating == 2 %}
              <div>Star Rating: ★★☆☆☆</div>
              {% elif film.star_rating == 3 %}
              <div>Star Rating: ★★★☆☆</div>
              {% elif film.star_rating == 4 %}
              <div>Star Rating: ★★★★☆</div>
              {% elif film.star_rating == 5 %}
              <div>Star Rating: ★★★★★</div>
              {% endif %}
            </div>
              <p class="written_review">My Review: {{ film.written_review }}</p>
            </div>
            <div class="accordion-footer text-center">
              <p>
                <a href="{{ url_for('edit_film', film_id=film.id) }}" class="btn btn-secondary mb-3">Edit</a>
                <a href="#modal--{{ film.id }}" class="btn btn-secondary modal-trigger mb-3" type="button" data-toggle="modal" data-target="#deleteFilmModal">Delete</a>
              </p>
            </div>
            <!-- Modal to delete Film -->
            <div class="modal fade" id="deleteFilmModal" tabindex="-1" role="dialog" aria-labelledby="deleteFilmModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="deleteFilmModalLabel">Are you sure you want to delete this film review?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      <p>This action cannot be undone</p>
                  </div>
                  <div class="modal-footer">
                      <a href="#!" class="modal-close btn btn-secondary" type="button" data-dismiss="modal">Cancel</a>                  
                      <a href="{{ url_for('delete_film', film_id=film.id )}}" class="deleteBtn btn btn-danger" type="button">Delete</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
</div>
{% endblock %}