{% extends "base.html" %}
{% block content %}
<h1 class="text-center welcome-message">Welcome to Reel Reviews</h1>
<span id="indexPosterImg">
    <img src="{{ url_for('static', filename='images/indexImg.webp') }}" class="card-img-top col-12 mx-auto d-block"
        id="indexImg" alt="Index poster image">
</span>
<div id="indexIntro" class="text-center">
    <div class="create">
        <h2 class="createMessage"><i class="fa-solid fa-square-plus index-icon"></i> Create an account and login to
            access our film search page and leave reviews for your most recent watches</h2>
    </div>
    <div class="organise">
        <h2 class="organiseMessage"><i class="fa-solid fa-eraser index-icon"></i> Make Film Lists to organise your
            reviews, then edit or delete a review whenever you change your mind</h2>
    </div>
    <div class="share">
        <h3 class="shareMessage"><i class="fa-solid fa-share-from-square index-icon"></i> Start sharing your Reel
            Reviews now <br>
            ...</h3>
    </div>
</div>

{% endblock %}