{% extends "base.html" %}
{% from "bootstrap4/form.html" import render_field %}
{% block content %}

<h2 class="text-center">Search</h2>
<h3>Welcome, {{ name }}</h3>
<p>This page is to add films to watch list, or to review films </p>

<form method="POST" action="{{ url_for('search') }}" class="search-wrapper">
    <label for="search">Search Films</label>
    
    <input type="search" id="search" aria-label="Search" name="search">
    <button type="submit">Search</button>
</form>
<!-- <p>You searched for... {{ search_string }}</p> -->

<div class="container text-center">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for movie in data %}
        <div class="col mt-5">
            <div class="card h-100 w-70">
        <div class="accordion accordion-flush" id="searchAccordion-{{ loop.index }}">
            <div class="accordion-item">
                {% set url="https://image.tmdb.org/t/p/w300/" %}
                <img class="card-img-top" src="{{ url }}{{ movie.poster_path }}" alt="Movie poster image">
                <h4 class="accordion-header card-title" id="flush-search-heading" data-value="{{ movie.original_title }}">{{ movie.original_title }}
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#search-{{ loop.index }}" aria-expanded="false" aria-controls="#search-{{ loop.index }}">
                </button>
            </h4>
            <div id="search-{{ loop.index }}" class="accordion-collapse collapse" aria-labelledby="search-{{ loop.index }}" data-bs-parent="#searchAccordion">
                <p class="card-text">{{ movie.overview }}</p>
            </div>
            </div>
            </div>
            <div class="card-btns">
                <a href="{{ url_for('add_film') }}" type="button" class="btn btn-secondary addFilmBtn" id="apiData">
                    Review
                </a>
            </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}