{% extends "base.html" %}
{% block content %}

<h3 class="center-align">My Watchlists</h3>
<p>This page is to keep track of films you've added to your watchlists</p>
<div class="row">
    <div class="col-12 text-center">
        <a href="{{ url_for('add_watchlist') }}" type="button" class="btn btn-secondary addWatchListBtn">
            Add Watchlist
        </a>
    </div>
</div>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    {% for watchlist in watchlists %}
<div class="card watchlist-card text-center">
    <div class="card-body">
      <h5 class="card-title watchlist-card-title">{{ watchlist.list_name }}</h5>
      <h6 class="card-text watchlist-created-by">Username: {{ watchlist.created_by }}</h6>
      <h6 class="card-text watchlist-genre">Genre: {{ watchlist.genre }}</h6>
        <a href="#" class="btn btn-secondary">Edit</a>
        <a href="#" class="btn btn-secondary">Delete</a>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}